.aboutStoreWrapper{
    display: flex; flex-direction: column;
    background-color: #efefef;
    color: #49473f;
    align-content: center; align-items: center;
    justify-content: center; justify-items: center;
    margin-top: 50px;
    padding: 10px 0 10px 0;
}
.aboutStoreSection{
    width: 60%;
    text-align: center;
}
.aboutCaption{
    font-size: 18px;
    font-weight: bold;
}
.aboutText{
    font-size: 15px;
}

.previewWatchesWrapper{
    display: flex; flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.previewProductSectionCaption{
    text-align: center; 
    color: #49473f;
}

